.button {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
  }
  
.filled {
    background: #0084F7;
    color: white;
    border: none;
  }
  
.hollow {
    border: 1px solid #0084F7;
    color: #0084F7;
  }
  
.regular {
    width: 160px;
    height: 40px;
}
  
.large {
    width: 300px;
    height: 64px;
}

.hollow.large {
    border-width: 2px;
}


