@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

.mobile-header{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    /* bottom: 0; */
    right: 0;
}
  
.mobile-header .mobile-main-wrapper {
    padding: 12px 0px;
    display: flex;  
    align-items: center;
    font-family: "Open Sans", sans-serif;
}



.mobile-header .mobile-main-wrapper > *:nth-child(2) {
    margin-left: auto;
    transform: translateX(-45px);
    margin-right: auto;
  }

.mobile-logo-container {
    display: flex;
    justify-content: center;
  }
  
#logo {
    width: 30px;
    height: 31px;
}

.hamburger{
    width: 26px;
    height: 26px;
    margin-left: 24px;
    margin-right: 44px;
    cursor: pointer;
}
  
.mobile-logo-container h4 {
    font-family: 'Viga';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

}
  
.mobile-logo-container a {
    display: flex;
    text-decoration: none;
    color: #080606;
}
  
.image-data-container{
    display: flex;
    flex-direction: row;
}


.mobile-profile-container {
    display: flex;
}
.mobile-profile-container #mobile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 24px;
    margin-top: 53px;
    border: 1px solid #FFFFFF;
}

.profile-data{
    padding-top: 55px;
    padding-left: 30px;
    font-size: 30px;
    width: 70px;
    font-family: 'Viga';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.menu-item-container #menu-home{
    margin-top: 42px;
}

.menu-item-container #text-home{
    margin-top: 44px;
}
.menu-item-container{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-left: 37px;
    margin-top: 8px;
}

.menu-item-container .arrow {
  cursor: pointer;
}

.item-text{
    font-family: 'Viga';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    padding-left: 11px;
    padding-bottom: 0;
}

#shortcuts{
    padding-left: 0px;
}


.collapsible-div{
    padding: 4px 71px 0px;
    display: flex;
    flex-direction: column;
}

.collapsible-text{
    font-family: 'Viga';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 6px;
}

.log-out{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: end;
    align-items: end;
    padding-right: 34px;
    padding-top: 23px;
    padding-bottom: 29px;
    cursor: pointer;
}

#logout-text{
    font-family: 'Open Sans';
    font-size: 10px;
    padding-left: 4px;
    padding-bottom: 2px;
}