@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.news-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.news-header {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 50px;
    color: #003A6C;
}

.article-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    margin-left: 23%;
}

.headline {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: black;
}

.news-img {
    width: 142.01px;
    height: 149px;
    object-fit: cover;
    margin-right: 20px;
}

.article {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 20px 0;
    margin-right: 5%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #4A4A4A;
}

.body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

@media only screen and (max-width: 600px) {
    .article {
        width: 100%;
    }
}