@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

header{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
}
  
header .main-wrapper {
    height: 56px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}


.logo-container {
    display: flex;
    align-items: center;
  }
  
.logo-container img {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    margin-left: 24px;
}
  
.logo-container h1 {
    font-family: 'Viga';
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    width: 189px;
    height: 43px;
    text-decoration: none;
    margin: 0;
}
  
.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #080606;
}
  
.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    margin-left: 32px;
    margin-right: 32px;
    border: none;
    background-color: #ffffff;
    color: #080606;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.button-container button.last-button {
    margin-right: 0px;
    padding-right: 0px;
}

.button-container .dropdown {
    margin-right: 15px;
}

.dropdown {
    position: relative;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 52%;
  left: 85%;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
  transition-duration: 0.2s;
}

.dropdown:hover::after {
  rotate: 180deg;
  top: 23%;
  transition-duration: 0.2s;
  
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 55%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 0;
    font-size: 16px;
  }
  
.dropdown-content a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: display 0.3s;
}

.dropdown-content a:hover {
    background-color: #ccc;
}
  
.profile-container {
    position: relative;
    display: flex;
    align-items: center;
}
  
.profile-container img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 24px;
}
