#schedules-wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

#schedules-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 160px;
    column-gap: 48px;
}

.schedules-content > * {
  margin: 0 0 24px;
  display: block;
}