/* Property 1=default */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.card{
    width: 400px;
    background: white;

    /* Drop Shadow */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    /* Inside auto layout */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: height 0.3s ease-in-out;
}

.label{
    position: relative;
    width: 84px;
    height: 32px;
    left: 24px;
    top: calc(50% - 50px/2);

    /* Desktop/H4/Bold */
    font-family: 'Viga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    white-space: nowrap;

    /* Black */
    color: #000000;

}

.card-header{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: c;
}
.card-label{
    width: 310px;
}

.card-image{
    padding: 5px;
    position: relative;
    cursor: pointer;
    top: -9px;
}

.hidden{
    visibility: hidden;
}

.card-content {
    padding: 20px;
}

#lavender {
    width: 48px;
    height: 48px;

    /* Accents/Lavender */

    background: #acc1ff;
    /* Black */

    border: 2px solid #000000;
    border-radius: 4px;
}

#edit {
    top: -8px;
}
#blue {
    width: 48px;
    height: 48px;

    /* Accents/Sky Blue */

    background: #c7eeff;
    /* Black */

    border: 2px solid #000000;
    border-radius: 4px;
}

#red {
    width: 48px;
    height: 48px;

    /* Accents/Red */

    background: #ffaeae;
    /* Black */

    border: 2px solid #000000;
    border-radius: 4px;
}

#yellow {
    width: 48px;
    height: 48px;

    /* Accents/Yellow */

    background: #ffec94;
    /* Black */

    border: 2px solid #000000;
    border-radius: 4px;
}

#green {
    width: 48px;
    height: 48px;

    /* Accents/Green */

    background: #b0e57c;
    /* Black */

    border: 2px solid #000000;
    border-radius: 4px;
}

#pink {
    width: 48px;
    height: 48px;

    /* Accents/Pink */

    background: #ffdbdb;
    /* Black */

    border: 2px solid #000000;
    border-radius: 4px;
}

.card-info p{
    font-family: 'Open Sans', sans-serif;
}

.color-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-around;
    position: relative;
}

.selected {
    border: 2px solid black;
}

.selection {
    position: absolute;
}


#check{
    margin-bottom: 4px;
    margin-left: 18px;
}
  
.black-rectangle {
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 16px;
    background-color: black;
    border-radius: 0px 0px 4px 4px;
}

.content-text{
    margin-top: 16px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.heavy{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}


.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}