.color-block {
  width: 48px;
  height: 48px;

  border: 2px solid black;
  border-radius: 4px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.color-block.active .black-rectangle {
  display: flex;
}

.color-block.lavender {
  background: #acc1ff;
}

.color-block.blue {
  background: #c7eeff;
}

.color-block.red {
  background: #ffaeae;
}

.color-block.yellow {
  background: #ffec94;
}

.color-block.green {
  background: #b0e57c;
}

.color-block.pink {
  background: #ffdbdb;
}

#check{
  margin-bottom: 4px;
  margin-left: 18px;
}

.black-rectangle {
  width: 100%;
  height: 16px;
  background-color: black;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  display: none;
}