.timeslot{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    align-items: center;

    color: black;
    font-size: 16px;
    margin: 0 0 4px;
}

.timeslot p {
    font-family: 'Open Sans', sans-serif;
}

.timeslot .del {
    cursor: pointer;
    justify-self: flex-end;

    height: 24px;
    width: 24px;
}

.timeslot .room {
  text-align: center;
}

.timeslot .time {
  text-align: center;
}

.timeslot .day{
    text-transform: uppercase;
}