.timeslot{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "day loc del"
      "day time del";
    align-items: center;
    column-gap: 16px;

    color: black;
    font-size: 16px;
    margin: 0 0 8px;
}

.timeslot p {
    font-family: 'Open Sans', sans-serif;
}

.timeslot .del {
  grid-area: del;
    cursor: pointer;
    justify-self: flex-end;

    height: 24px;
    width: 24px;
}

.timeslot .room {
  grid-area: loc;
  text-align: center;
}

.timeslot .time {
  grid-area: time;
  text-align: center;
}

.timeslot .day{
  grid-area: day;
    text-transform: uppercase;
}