.icon-text-btn {
    margin: 24px;
    border: 0;
    border-radius: 8px;
    width: 500px;
    height: 64px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.icon-text-btn:hover {
    border: 4px solid #0062B8;  
}

.icon-text-btn p {
    font-family: 'Viga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}




