.schedule-button{
    border: 4px solid transparent;
    border-radius: 8px;

    width: 500px;
    min-height: 100px;

    padding: 16px 24px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-flow: row nowrap;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.schedule-button.active{
    border: 4px solid #0062B8;
}

.schedule-button:hover {
    border: 4px solid #0062B8;  
}

.schedule-text{
    text-align: left;
}

.schedule-text h4{
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.schedule-text span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A;
}